html {
	position: relative;
	min-height: 80vh;
}

body {
	font-family: $roboto-slab;
	font-size: 12px;
	display: block;
	min-height: 80vh;
	-webkit-font-smoothing: subpixel-antialiased;
	background-image: url("https://res.cloudinary.com/dsetpdsls/image/upload/dn_102,e_saturation:80,o_20/v1481041301/white-background-pattern-tumblr_lwowa5.png");
	background-position: center;
	background-size: cover;
	padding-top: 52px;
	background-repeat: repeat;
}

main {
	position: relative;
	height: 100vh;
	width: 100vw;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $roboto-slab;
}

a {
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
}

.hidden {
	display: none;
}

/*
	Font Elements
*/

h1 {
	font-size: 24px;
	line-height: 10px;
}

h2 {
	text-align: center;
}

p {
	line-height: 16px;
}

img {
	width: 100%;
	height: 100%;
}

small {
	font-size: 9px;
	color: $gray;
	font-family: $sans-serif;
}

/*
	Header Rules
*/

hr {
	border: 0;
	height: 1px;
	background-color: $light-gray;
}

.hr-top, .hr-bottom {
	width: 100%;
	margin: 0;
}

.hr-top {
	height: 2px;
	margin-bottom: 1px;
}

/*
	Images
*/

.thumbnail {
	height: 100px;
}

.thumbnail img {
	object-fit: cover;
}

/*
	Inputs
*/

.input-wrapper {
	display: flex;
	margin: 5px 0;
}

input[type="search"] {
	padding: 5px;
}
