html {
	height: 100vh;
	width: 100vw;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	min-height: 100%;
	width: 100%;
	-webkit-font-smoothing: subpixel-antialiased;
	padding-top: 52px;
}

main {
	min-width: 1100px;
}

button {
	background-color: $light-gray;
	border-color: $dark-gray;
	color: black;
	font-weight: bold;
	padding: 7px 9px;
	border-radius: 3px;
	transition: background-color 0.3s;
	font-family: $sans-serif;
	text-transform: uppercase;
	font-size: 11px;
	text-align: center;
}

button:hover {
	background-color: $gray;
	border-color: $dark-gray;
	transform: scale(1.1);
	cursor: pointer;
}

a {
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
}

.hidden {
	display: none;
}

/*
	Font Elements
*/

h1 {
	font-size: 24px;
	font-weight: bold;
}

h2 {
	text-align: center;
	margin-bottom: 10px;
	font-weight: bold;
}

p {
	line-height: 16px;
}

img {
	width: 100%;
	height: 100%;
}

small {
	font-size: 9px;
	color: $gray;
	font-family: $sans-serif;
}
