.stats {
  width: 10%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-family: $roboto;
  height: 100px;

  div {
    text-align: center;
  }

  .winner {
    color: blue;
    font-weight: 500;
  }

  .loser {
    font-weight: 500;
    color: red;
  }
}

.queue-type {
  font-size: 15px;
  color: black;
  font-weight: 700;
  position: relative;
  cursor: help;

  &:hover p, &:focus p {
    display: block;
    position: absolute;
    padding: 5px;
    bottom: 33px;
  }

  p {
    font-family: $roboto-slab;
    font-size: 9px;
    display: none;
    background: $dark-gray;
    opacity: 0.9;
    color: white;
    border-radius: 3px;
  }
}

.match-duration {
  position: relative;
  cursor: help;

  &:hover p, &:focus p {
    display: block;
    position: absolute;
    padding: 5px;
    width: 70px;
    bottom: 15px;
  }

  p {
    font-family: $roboto-slab;
    font-size: 9px;
    display: none;
    background: $dark-gray;
    opacity: 0.9;
    color: white;
    border-radius: 3px;
  }
}
