.splash-page {
  text-align: center;
  width: 100%;
}

.first-div {
  margin: 0 auto;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin-top: 53px;
  height: 80vh;
  // background-image: url("https://res.cloudinary.com/dsetpdsls/image/upload/v1480447110/Twisted-Fate-League-of-Legends-Backgrounds-620x349_vic9kh.jpg");
  // background-position: center;
  // background-size: center;

  .searchbar-content {
    width: 40%;
    margin: 0 auto;

    .searchbar {
      display: flex;
      justify-content: space-between;
      border-radius: px;
      color: hsl(202, 85%, 92%);
      background-color: #dbf0fc;

      input {
        font-family: $roboto;
        font-weight: 300;
        text-align: left;
        font-size: 18px;
        color: #555e5e;
        width: 100%;
        height: 45px;
        padding-left: 20px;
      }


      button {
        background-color: inherit;
        border: none;
      }
    }

    .searchbar:focus {
    }
  }
}

.logo {
  padding-top: 150px;
  margin-bottom: 50px;
  color: black;

  .main {
    font-size: 95px;
    text-decoration: none;
  }
}

.second-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;

  .guide {
    height: 100%;
    width: 80%;

    .title {
      padding-top: 30px;
      text-align: center;

      h2 {
        font-size: 35px;
        line-height: 48px;
        font-weight: 100;
        font-style: normal;
        color: #5c5c5c;
        padding-bottom: 20px;
      }

      h3 {
        padding: 0;
        margin: 0;
        line-height: 48px;
        font-weight: 100;
        font-style: normal;
        color: #5c5c5c;
        font-size: 15px;
        padding-bottom: 60px;
      }
    }
    .item {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      margin-bottom: 30px;

      img {
        width: 50%;
        display: block;
        box-sizing: content-box;
        margin-right: 50px;
        box-shadow: inset 0px -50px 30px 0px rgba(255,255,255,0.9);
      }

      .desc {
        color: #5c5c5c;
        text-align: left;
        
        ul {
          font-size: 11px;

          li:first-child {
            font-size: 13px;
          }

          li:nth-child(2) {
            font-size: 15px;
            margin-bottom: 20px;
          }

          li {
            margin-bottom: 4px;
          }
        }
      }
    }
    .item2 {
      display: flex;
      margin: 0 auto;
      justify-content: space-between;
      padding-bottom: 50px;

      img {
        width: 50%;
      }

      .desc {
        color: #5c5c5c;
        text-align: left;


      }
    }
  }

}

.desc {
  div {
    text-align: left;
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 300;
    display: flex;

    fin {
      color: black;
      font-size: 23px;
      font-weight: bold;
    }
  }

  ul {
    font-size: 13px;
    list-style: square;
    padding-left: 20px;

    li {
      font-size: 13px;
      margin-bottom: 4px;
    }
  }
}
