.splash-page {
  text-align: center;
  position: absolute;
  width: 100%;

  div {
    margin: 0 auto;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    // background: linear-gradient(135deg, #8363a1 0%, #74a8c3 100%);
    background: #74a8c3;

    .logo {
      padding-top: 150px;
      margin-bottom: 50px;

      h1 {
        font-size: 95px;
        text-shadow: 2px 2px 3px rgba(42, 42, 42, 1);

        .main {
          text-decoration: none;
        }
      }
    }

    .searchbar-content {
      width: 40%;
      margin: 0 auto;
      padding-bottom: 120px;

      .searchbar {
        display: flex;
        justify-content: space-between;
        border-radius: 4px;
        color: hsl(202, 85%, 92%);
        background-color: #dbf0fc;

        input {
          text-align: left;
          font-size: 18px;
          color: #555e5e;
          width: 100%;
          height: 45px;
          padding-left: 20px;
        }


        button {
          background-color: #dbf0fc;
        }
      }

      .searchbar:focus {
      }
    }

    .guide {
      margin-top: 80px;
      height: 100%;

      .title {
        background: white !important;
        padding-top: 30px;
        text-align: center;

        h2 {
          font-size: 35px;
          line-height: 48px;
          font-weight: 100;
          font-style: normal;
          color: #5c5c5c;
        }

        h3 {
          padding: 0;
          margin: 0;
          line-height: 48px;
          font-weight: 100;
          font-style: normal;
          color: #5c5c5c;
          font-size: 15px;
          padding-bottom: 50px;
        }
      }
      .item {
        display: flex;
        justify-content: space-between;

        .img {
          background: white !important;
          // background-image: url("images/splash.png");
        }

        .desc {
          color: #5c5c5c;
          background: white !important;
          text-align: left;

          div {
            background: white !important;
            text-align: left;
            font-size: 22px;
            margin-bottom: 20px;
            font-weight: lighter;
            display: flex;

            fin {
              color: black;
              font-size: 23px;
              font-weight: bold;
            }
          }

          ul {
            font-size: 15px;
            list-style: square;

            li:first-child {
            }

            .li {
              margin-bottom: 20px;
            }

            li {
              margin-bottom: 4px;
            }
          }
        }
      }
    }
  }
}
