.splash-page {
  text-align: center;
  position: absolute;
  width: 100%;

  div {
    margin: 0 auto;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    // background-image: url("https://res.cloudinary.com/dsetpdsls/image/upload/v1480447110/Twisted-Fate-League-of-Legends-Backgrounds-620x349_vic9kh.jpg");
    // background-position: center;
    // background-size: center;

    .logo {
      padding-top: 150px;
      margin-bottom: 50px;
      color: black;

      h1 {
        font-size: 95px;
        // text-shadow: 2px 2px 3px rgba(42, 42, 42, 1);

        .main {
          text-decoration: none;
        }
      }
    }

    .searchbar-content {
      width: 40%;
      margin: 0 auto;
      padding-bottom: 120px;

      .searchbar {
        display: flex;
        justify-content: space-between;
        border-radius: 4px;
        color: hsl(202, 85%, 92%);
        background-color: #dbf0fc;

        input {
          text-align: left;
          font-size: 18px;
          color: #555e5e;
          width: 100%;
          height: 45px;
          padding-left: 20px;
        }


        button {
          background-color: #dbf0fc;
        }
      }

      .searchbar:focus {
      }
    }
  }

  .second-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;

    .guide {
      height: 100%;
      width: 80%;

      .title {
        background: white !important;
        padding-top: 30px;
        text-align: center;

        h2 {
          font-size: 35px;
          line-height: 48px;
          font-weight: 100;
          font-style: normal;
          color: #5c5c5c;
          padding-bottom: 20px;
        }

        h3 {
          padding: 0;
          margin: 0;
          line-height: 48px;
          font-weight: 100;
          font-style: normal;
          color: #5c5c5c;
          font-size: 15px;
          padding-bottom: 60px;
        }
      }
      .item {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding-bottom: 70px;

        .img {
          background-position: center;
          background-image: url("http://res.cloudinary.com/dsetpdsls/image/upload/v1480447110/splash_rkkvmy.png");
          background-size: cover;
          display: block;
          box-sizing: content-box;
          margin-right: 60px;
          box-shadow: inset 0px -50px 30px 0px rgba(255,255,255,0.9);
        }

        .desc {
          color: #5c5c5c;
          background: white !important;
          text-align: left;

          div {
            background: white !important;
            text-align: left;
            font-size: 22px;
            margin-bottom: 20px;
            font-weight: lighter;
            display: flex;

            fin {
              color: black;
              font-size: 23px;
              font-weight: bold;
            }
          }

          ul {
            font-size: 11px;
            list-style: circle !important;

            li:first-child {
              font-size: 13px;
            }

            li:nth-child(2) {
              font-size: 15px;
              margin-bottom: 20px;
            }

            li {
              margin-bottom: 4px;
            }
          }
        }
      }
      .item2 {
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        padding-bottom: 50px;
        height: 172px;

        .img2 {
          background-position: 50%;
          background-image: url("https://res.cloudinary.com/dsetpdsls/image/upload/v1480447110/leaderboard_k4nphk.png");
          background-size: cover;
          overflow-x: hidden;
          box-sizing: content-box;
          margin-left: 60px;
        }

        .desc {
          color: #5c5c5c;
          background: white !important;
          text-align: left;

          div {
            background: white !important;
            text-align: left;
            font-size: 22px;
            margin-bottom: 20px;
            font-weight: lighter;
            display: flex;

            fin {
              color: black;
              font-size: 23px;
              font-weight: bold;
            }
          }

          ul {
            font-size: 13px;
            list-style: square;

            li {
              font-size: 13px;
              margin-bottom: 4px;
            }
          }
        }
      }
    }

  }
}
